@import "all/wrapper";

.header {
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  padding: 43px 0;

  &-logo {
    position: relative;
    overflow: hidden;
    > a {
      display: block;
    }
  }

  &-menu {

    .menu-btn {
      display: block;
      width: 50px;
      height: 50px;
      background-color: #ffdb00;
      position: relative;
    }
    .menu-btn span,
    .menu-btn span::before,
    .menu-btn span::after {
      position: absolute;
      top: 50%; margin-top: -1px;
      left: 50%; margin-left: -10px;
      width: 20px;
      height: 2px;
      background-color: #222;
    }
    .menu-btn span::before,
    .menu-btn span::after {
      content: '';
      display: block;
      transition: 0.2s;
    }
    .menu-btn span::before {
      transform: translateY(-5px);
    }
    .menu-btn span::after {
      transform: translateY(5px);
    }
    
    .menu-btn_active span:before {
      transform: rotate(-35deg);
      width: 10px;
      transform-origin: left bottom;
    }
    .menu-btn_active span:after {
      transform: rotate(35deg);
      width: 10px;
      transform-origin: left top;
    }
    .menu-block {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .menu-nav a {
      text-decoration: none;
      color: #222;
      text-transform: uppercase;
      display: inline-block;
      transition: 1s;
      padding: 0 20px;

      &:hover {
        background: #fff;
      }
    }
    .menu-nav {
      transition: 0.2s;
      transform: scaleX(0) translateX(0%);
      transform-origin: right center;
      opacity: 0;
      visibility: hidden;
      height: 50px;
      line-height: 50px;
      background-color: #ffdb00;
      padding-right: 25px;
      margin-right: -25px;
    }
    .menu-nav_active {
      transform: scaleX(1) translateX(0%);
      opacity: 1;
      visibility: visible;
    }
  }
}


.top-block {
  position: relative;
  overflow: hidden;
  padding-top: calc(130px - 43px);
  padding-bottom: 135px;

  &__title {
    color: #ffdb00;
    font-size: 145px;
    font-weight: 400;
    line-height: 150px;
    text-transform: uppercase;
    letter-spacing: 13.2px;
    margin-bottom: 45px;
    max-width: 900px;
  }

  &__text {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 1.13px;
    margin-bottom: 45px;
    max-width: 740px;
  }
}

.button {
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  line-height: 70px;
  height: 70px;
  text-transform: uppercase;
  letter-spacing: 1.26px;
  border: 2px solid #ffda00;
  display: inline-block;
  padding: 0 60px;
  border-radius: 30px;
  transition: 0.2s;

  &:hover {
    background: #ffda00;
    color: #17191e;
    transition: 0.2s;
  }
}

.desc-box {
  position: relative;
  overflow: hidden;
  max-width: 1000px;
  padding: 92px 0;
  margin: 0 auto;

  &__text {
    color: #181a1f;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 1.5px;
    text-align: center;
  }
}

.cards {
  position: relative;
  overflow: hidden;
  padding: 119px 0;

  &-box {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__card {
      position: relative;
      overflow: hidden;
      width: 32%;
  
      &-icon {
        width: 77px;
        height: 77px;
        background-color: #ffda00;
      }
  
      &-icon_pencil {
        background: #ffda00 url(../../images/shape-3.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 27px;
      }
  
      &-icon_path {
        background: #ffda00 url(../../images/composite-path.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 27px;
      }
  
      &-icon_pc {
        background: #ffda00 url(../../images/shape-2.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 27px;
      }
  
      &-title {
        color: #ffdb00;
        font-size: 50px;
        font-weight: 400;
        line-height: 76.41px;
        text-transform: uppercase;
        letter-spacing: 3.75px;
        margin-top: 46px;
        margin-bottom: 54px;
        display: block;
      }
  
      &-text {
        color: #181a1f;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 1.13px;
      }
    }
  }

  &-button {
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    margin-top: 87px;
    
  }
}

.button_text-color {
  color: #181a1f;
}

.skill-box {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 94px 0 92px 0;

  &__card {
    position: relative;
    overflow: hidden;
    width: 22%;
    text-align: center;

    &-img {
      display: block;
      width: 47px;
      height: 45px;
      position: relative;
      overflow: hidden;
      margin: 0 auto;
    }

    &-number {
      display: block;
      position: relative;
      overflow: hidden;
      color: #ffffff;
      font-size: 60px;
      font-weight: 400;
      margin: 55px 0 53px 0;
    }

    &-text {
      color: #ffdb00;
      font-size: 20px;
      font-weight: 400;
      line-height: 76.41px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }
  }
}

.work {

  &-box {
    position: relative;
    padding: 121px 0 0 0;
    max-width: 1140px;
    margin: 0 auto;
    
    &__title {
      color: #ffdb00;
      font-size: 50px;
      font-weight: 400;
      line-height: 96.05px;
      text-transform: uppercase;
      letter-spacing: 3.75px;
      position: relative;
      overflow: hidden;
      margin-bottom: 50px;
    }
  
    &__text {
      color: #181a1f;
      font-size: 20px;
      font-weight: 400;
      line-height: 25px;
      letter-spacing: 1.5px;
      position: relative;
      overflow: hidden;
      margin-bottom: 117px;
    }
  
    &__wrap {
      margin-bottom: 119px;

      &-tab {
        color: #181a1f;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 1.5px;
        border: 2px solid #ffda00;
        padding: 0 35px;
        height: 44px;
        box-sizing: border-box;
        line-height: 40px;
        display: inline-block;
        cursor: pointer;
        margin-right: 26px;
      }
    }
  }

  &-widget {
    position: relative;
    overflow: hidden;
    padding-left: 25vw;

    &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      background: #181a1f;
      z-index: -1;
    }

    &__content {
      position: relative;
      overflow: hidden;

      
      &-tab {
        
        &-block {
          background-color:rgba(245, 215, 41, 0.8);
          position: relative;
          overflow: hidden;
          padding: 113px 79px;
          max-width: 690px;
          box-sizing: border-box;
  
          &__title {
            color: #181a1f;
            font-size: 30px;
            font-weight: 400;
            line-height: 96.05px;
            letter-spacing: 2.25px;
          }
  
          &__text {
            color: #ffffff;
            font-size: 20px;
            font-weight: 400;
            line-height: 25px;
            letter-spacing: 1.5px;
            margin-bottom: 34px;
            margin-top: 43px;
          }
  
          &__button {
            color: #181a1f;
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 1.5px;
            padding: 0 40px;
            line-height: 40px;
            height: 44px;
            box-sizing: border-box;
            border: 2px solid #fff;
            display: inline-block;
          }
        }

        &-img {
          display: flex;
          flex-direction: row;
          
          img {
            display: block;
            width: calc(100% / 3);
            height: 100%;
          }
        }
      }
    }
  }

  &-button {
    padding: 117px 0;
    margin: 0 auto;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
}

.work-widget__content-tab {
  pointer-events: none;
  visibility: hidden;
  opacity:0;
  height: 0;
  transition: visibility 0.5s linear 0.5s,opacity 0.5s linear, height 0s .5s;
  
}
.work-box__wrap-tab.active {
  background-color: #ffda00;
}
.work-widget__content-tab.active {
  opacity:1;
  transition-delay:0.5s;
  visibility: visible;
  height: auto;
  pointer-events: auto  ;
}


.work-box__text_color-white {
  color: #fff;
}

.work-box__slider {
  position: relative;
  padding-bottom: 121px;
  &-img {
    position: relative;


    &_size {
      width: 100%;
      display: block;
      position: relative;
      overflow: hidden;
    }
  }
}
.owl-carousel .owl-dots {
  width: 100%;
  text-align: center;
  padding-top: 51px;
}

.owl-carousel .owl-dots button.owl-dot {
  width: 10px;
  height: 10px;
  background: #fff;
  margin: 0 10px;
  

  &.active {
    background: #ffda00;
  }

}



.form {

  &-send {
    position: relative;
    overflow: hidden;
    max-width: 973px;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;

    &__text {
      outline: none;
      border: 2px solid #17191e;
      background: #fff;
      color: #181a1f;
      font-size: 20px;
      font-weight: 400;
      line-height: 48px;
      height: 48px;
      letter-spacing: 1.5px;
      padding: 0 24px;
      box-sizing: border-box;
      font-family: 'Roboto', sans-serif;
      width: 100%;
      margin-bottom: 18px;

      &_size {
        max-width: 472px;
        width: 100%;
        margin-right: 25px;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;

        &:nth-child(2) {
          margin-right: 0;
        }

        &-height {
          height: 182px;
          line-height: 24px;
          padding-top: 17px;
          padding-bottom: 17px;
        }
      }
    }

    .button_text-send {
      background: #fff;
      padding-left: 160px;
      padding-right: 160px;
      cursor: pointer;
      margin-top: 41px;
      margin-bottom: 95px;

      &:hover {
        background: #ffda00;
        color: #17191e;
        transition: 0.2s;
      }
    }
  }
}


.contact {
  position: relative;
  overflow: hidden;
  display: flex;
  padding: 120px 0;
  justify-content: space-between;
  
  &-card {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;

    &__img {
      background: #17191e url(../../images/Shape_1.png);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 30px;
      width: 80px;
      height: 80px;

      &_mail {
        background: #17191e url(../../images/Composite_Path.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 27px;
      }

      &_location {
        background: #17191e url(../../images/Composite_Path2.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 25px;
      }
    }

    &__text {
      padding-left: 26px;
      color: #181a1f;
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 1.5px;
    }
  }
}


.footer {
  position: relative;
  overflow: hidden;
  padding: 123px 0;

  &-top {
    position: relative;
    overflow: hidden;

    &__text {
      color: #ffffff;
      font-size: 25px;
      font-weight: 400;
      line-height: 29px;
      letter-spacing: 1.88px;
      text-align: center;

      > span {
        color: #ffdb00;
      }
    }
  }

  &-bottom {
    position: relative;
    overflow: hidden;

    &__social {
      text-align: center;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 54px;

      &-link {
        position: relative;
        overflow: hidden;
        display: block;
        margin: 0 17px;

        .fab {
          font-size: 30px;
          width: 30px;
          height: 30px;
          color: #fff;

          &:hover {
            color: #ffda00;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 999px) {
  .top-block__title {
    font-size: 70px;
    line-height: 1.3;
    margin-bottom: 25px;
  }

  .top-block__text {
    margin-bottom: 25px;
  }

  .desc-box__text {
    font-size: 18px;
    line-height: 1.3;
  }

  .button {
    line-height: 50px;
    height: 50px;
    padding: 0 40px;
  }

  .desc-box {
    padding: 50px 0;
  }

  .cards {
    padding: 50px 0;
  }
  
  .cards-box {
    flex-wrap: wrap;
  }
  
  .cards-box__card-icon {
    width: 60px;
    height: 60px;
  }

  .cards-box__card-title {
    font-size: 28px;
    line-height: 1.3;
    margin: 25px 0;
  }

  .cards-button {
    margin-top: 25px;
  }

  .skill-box {
    padding: 50px 0;
  }

  .skill-box__card-img {
    width: 35px;
    height: 35px;
  }

  .skill-box__card-number {
    margin: 25px 0;
    font-size: 48px;
    line-height: 1.3;
  }

  .skill-box__card-text {
    line-height: 1.3;
    font-size: 20px;
  }
}