@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic');

body {
	min-height: 100vh;
	background: #fff;
}

html, body {
	min-height: 100%;
	height: 100%;
  line-height: 1.2;
  font-family: 'Roboto', sans-serif;
	}

/* Контейнер */

.wrapper {width: 100%;}

.wrapper__color_black {
  width: 100%;
  background-color: #17191e;
}

.wrapper__color_yellow {
  width: 100%;
  background-color: #ffda00;
}

.container {
	width: 1170px;
	margin: 0 auto;
	padding: 0;
}

.column, .columns {
	float: left;
	margin-left: 15px;
	margin-right: 15px;
}

.content {overflow: hidden;}

.container .sixteen.columns {width: 1140px;}

.position-relative {
	position: relative;
	overflow: hidden;
}

input[type="text"], input[type="submit"], input[type="email"], textarea {-webkit-appearance: none;}

a {text-decoration: none;}


@media only screen and (min-width: 1000px) and (max-width: 1240px) {

.container {width: 980px;}
.container .sixteen.columns {width: 960px;}
.column, .columns {margin-left: 10px; margin-right: 10px;}

}


@media only screen and (min-width: 710px) and (max-width: 999px) {

.container {width: 100%;}
.container .sixteen.columns {width: 96%;}
.column, .columns {margin-left: 2%;	margin-right: 2%;}
body::-webkit-scrollbar {width: 0;}

}

@media only screen and (min-width: 120px) and (max-width: 709px) {

.container {width: 100%;}
.container .sixteen.columns {width: 96%;}
.column, .columns {margin-left: 2%;	margin-right: 2%;}
body::-webkit-scrollbar {width: 0;}

}
